body {
    background-color: rgb(75, 74, 74);
    color: antiquewhite;
}

.jumbo-color {
    background-color: rgb(83, 81, 81);
}


.font-weight-bold {
    font-weight: bold;
}


.form-control {
    background-color: rgb(207, 206, 206);
}


.form-control:focus {
    background-color: rgb(220, 217, 217);
}

form {
    color: antiquewhite;
}
