{% extends "base.html" %}


{% block msg %}

    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
                {{message}}
                
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endif %}

{% endblock msg %}


{% block content %}

    <div class="col-sm-10 mx-auto">
        <h4 class="text-white my-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-white">
                    <li class="breadcrumb-item text-white"><a href="#" class="text-decoration-none text-white">Home</a></li>
                    <li class="breadcrumb-item text-white"><a href="#" class="text-decoration-none text-white">Login</a></li>
                </ol>
            </nav>
        </h4>

        <div class="card jumbo-color shadow-lg">
            <div class="card-body">
                <form action="" method="POST" novalidate>
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger alert-dismissible fade show my-3">
                                {{error}}

                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </p>
                        {% endfor %}
                    {% endif %}
        
                    <div class="row">
                        {% for fm in form %}
                            <div class="form-group my-2">
                                {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors | striptags}}</small>
                            </div>
                        {% endfor %}
                    </div>
        
                    <input type="submit" value="Login" class="btn btn-primary my-3">
                    
                    <p>Don't you have an account? <a href="{% url 'signup' %}" class="text-info">Signup</a></p>

                </form>
            </div>
        </div>
    </div>

{% endblock content %}